.HomeNewsleter{
    width: 100%;
    padding: 50px 20px;
    box-sizing: border-box;
    @media(max-width:500px){padding:20px;}
    .wrapper{
        margin: auto;
        max-width: 800px;
        text-align: center;
        p{
            font-size: 18px;
        }
        .row{
            margin: 50px 0px;
            background: #fff;
            border-radius: 10px;
            padding: 5px;
            display: grid;
            grid-template-columns: 1fr auto;
            box-shadow: 0 8px 16px 0 rgba(3,49,86,0.08);
            input{
                width:100%;
                height: 45px;
                background: #fff;
                outline: none;
                border: none;
                font-weight: 700;
                padding:0px 10px;
                font-size: 15px;
            }
            button{
                background: rgb(254, 202, 95);
                outline: none;
                border: none;
                font-weight: 700;
                height: 45px;
                color: #fff;
                font-size: 15px;
                border-radius: 10px;
                padding: 0px 20px;
            }
        }
    }
}